* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo';
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  html{
    scroll-behavior: smooth;
  }

.main-home{
    width:100%;
    min-height:80vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../ground-soccer.jpg");
    background-size:100% ;
    
    gap:700px;
  }

  .forward{
    padding-top: 100px;
    width:100%;
    display:flex;
    justify-content:space-around;
  }
  .forward>img{
    width:200px;
  height:200px;
  }

  .forward>img:hover{
    transform: scale(1.3);
  }

  .midfielder{
    width:100%;
    display:flex;
    justify-content:space-around;
  }

  .midfielder>img{
    width:200px;
  height:200px;
  }

  .midfielder>img:hover{
    transform: scale(1.3);
  }

  .defender{
      width:100%;
      display:flex;
      justify-content:space-around;   
  }

  .defender>img{
    width:200px;
  height:200px;
  }

  .defender>img:hover{
    transform: scale(1.3);
  }

  .goalkeeper{
    width:100%;
    display:flex;
    justify-content:space-around;  
  }
 .goalkeeper>img{
  width:200px;
  height:100px;
 }

 .goalkeeper>img:hover{
  transform: scale(1.3);
 }